*.suo
*.cache
*.testlog
*.manifest
.vs/slnx.sqlite
AutomationExerciseFramework/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
AutomationExerciseFramework/obj/Release/netcoreapp3.1/AutomationExerciseFramework.AssemblyInfo.cs
AutomationExerciseFramework/obj/Release/netcoreapp3.1/AutomationExerciseFramework.GeneratedMSBuildEditorConfig.editorconfig
